/.vscode
/airline_paysum
/billing
/cl3.work
/day12edu
/day15view
/day15workview
/day8study
/fiori16
/fiori17
/jsonedu
/jsontest
/looptest
/math
/self
/self2
/split_event
/ux1exam01
/work15
/zcl3_bkpf_24